.app-body
  height: 100vh
  width: 92%
  display: flex
  justify-content: center
  align-items: center
  background-color: rgba(238, 238, 238, 0.5)

.app-body-inner
  height: 100vh
  width: 100%
  display: flex
  justify-content: space-around
  align-items: center


.polls-container
  padding-top: 5px
  width: 43%
  margin-top: 10px
  height: 85vh
  box-shadow: 0 1px 10px rgba(0,0,0,0.5)
  text-align: center
  overflow: auto


.chart-container
  width: 900px
  height: 500px
  box-shadow: 0 1px 10px rgba(0,0,0,0.5)
  text-align: center

.welcome-message
  align-self: flex-start
  margin-top: 50px
  text-align: center

.btn-full-width
  width: 30%

.new-poll
  overflow: auto
  padding-left: 10px
  padding-right: 10px

.glyphicon-refresh-animate
  -animation: spin .7s infinite linear
  -ms-animation: spin .7s infinite linear
  -webkit-animation: spinw .7s infinite linear
  -moz-animation: spinm .7s infinite linear

@keyframes spin
  from
    transform: scale(1) rotate(0deg)

  to
    transform: scale(1) rotate(360deg)


@-webkit-keyframes spinw
  from
    -webkit-transform: rotate(0deg)

  to
    -webkit-transform: rotate(360deg)


@-moz-keyframes spinm
  from
    -moz-transform: rotate(0deg)

  to
    -moz-transform: rotate(360deg)
