body
  margin: 0
  padding: 0
.app-container
  // width: 1280px
  height: 100vh
  display: flex
  flex-direction: column
  position: relative
  .header
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 20px
    position: absolute
    background-color: black
    box-shadow: 0 2px 15px rgba(0,0,0,0.8)
    color: #07ca22
    font-size: 0.7em
    font-weight: bolder
    font-family: verdana
    padding-left: 10px
  .body-btm
    width: 100%
    height: 100%
    display: flex
